

 
<section id="random-images" class="random-images">
    <img src="{{assetsURL}}/images/footer1.png" alt="random-images">
    <img src="{{assetsURL}}/images/footer2.png" alt="random-images">
    <img src="{{assetsURL}}/images/footer3.png" alt="random-images">
    <img src="{{assetsURL}}/images/footer4.png" alt="random-images">
</section>
<section id="footer" class="footer">
    <div class="footer-logo">
        <h1>Glow</h1>
        <p>Keep up with our new releases, <br>
           beauty tips and what Emma's Been <br>
           Up To.  </p>
           <ul>
            <li></li>
            <li></li>
            <li></li>
           </ul>
    </div>
   <div class="footer-text">
    <ul>
        <li><b>Company</b></li>
        <li><a>About</a></li>
        <li><a>Jobs</a></li>
        <li><a>Branding</a></li>
        <li><a>Newsroom</a></li>
    </ul>
   </div> 
   <div class="footer-text">
    <ul>
        <li><b>Resources</b></li>
        <li><a>College</a></li>
        <li><a>Support</a></li>
        <li><a>Safety</a></li>
        <li><a>SteamKit</a></li>
    </ul>
   </div> 
   <div class="footer-text">
    <ul>
        <li><b>Terms & Condition</b></li>
        <li><a>Policy</a></li>
        <li><a>Faq</a></li>
        <li><a>Return & Delivery</a></li>
        <li><a>Tracking</a></li>
    </ul>
   </div> 
   <div class="footer-text">
    <ul>
        <li><b>Subscribe</b></li>
        <li> Get 10% off your first order </li>
        <li><input type="text" placeholder="Enter your Email"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
   </div> 
</section>


