<section class="counter-section">
    <div class="counter-text">
        <h1>We make going all <br> natural <span>Beauty</span></h1>
        <p>Made with nature's best ingredients -- our products' transparent
            ingredient <br> lists allow you to know.
        </p>
        <div class="counter-numbers">
            <div class="counter-number">
            <p>Product <br> Users</p> 
            <h1>7M+</h1>
            </div>
            <div class="counter-number">
                <p>Brand <br> Product</p> 
                <h1>99+</h1>
            </div>
            <div class="counter-number">
                <p>Product <br> reviews</p> 
                <h1>5M</h1>
            </div>
        </div>
    </div>
    <div class="counter-photo">
    <img src="{{assetsURL}}/images/about.png" alt="girl" srcset="">
    </div>
</section>